<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>num</key>
		<string>55</string>
		<key>name</key>
		<string>乾</string>
		<key>word</key>
		<string>乾：元，亨，利，贞</string>
		<key>detail</key>
		<string>《乾》：乾为卦名，象征天。元，亨，利，贞为卦辞，由某种仪式演变而来。洋溢着无穷生命力的你排出万难，到达目的地，自然是大吉大利的。</string>
		<key>text</key>
		<string>【启示】《《乾卦》》为六十四卦之首，为纯阳卦，象征天。天的特点是刚健有力，运行不息，并且其运行是有规律的。所以我们不仅要奋发图强，为实现自己的理想而积蓄力量，而且要遵循客观规律办事。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>11</string>
		<key>name</key>
		<string>坤</string>
		<key>word</key>
		<string>坤：元亨，利牝马之贞。君子有攸，先迷，后得主，利。西南得朋，东北丧朋。安贞吉。</string>
		<key>detail</key>
		<string>《坤卦》：大大亨通。有利于去卜问母马的吉凶。君子有所行动，如不遵循客观规律，则会迷失方向。相反，则会到达目的地，吉利。如往西南方，则会得到朋友。如往东北方，则会失去朋友。卜问是否平安，得到吉兆。</string>
		<key>text</key>
		<string>【启示】坤象征地，地的特点是顺从，宽厚。这说明宽厚是做人的基础，并强调了遵循客观规律办事的重要性。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>72</string>
		<key>name</key>
		<string>屯</string>
		<key>word</key>
		<string>元亨利贞。勿用有攸往。利建侯。</string>
		<key>detail</key>
		<string>《屯卦》：广大，亨通，去占卜能得吉卦。不能有所行动。有利于树立伟大的志向。</string>
		<key>text</key>
		<string>【启示】《《屯卦》》包含着充满信心，艰苦奋斗的精神内涵。越是“初生”的事物，处于“草创”阶段的事业，越是需要扶持，治理。此卦告诉我们，在创业伊始的困难扑面而来时，必须要做好面对新事物，新项目，应对困难的思想准备。我们既不能无视困难，也不能被困难吓倒，要勇于面对种种困难，越战越挫，磨砺意志。只要不盲目行事就一定会迎来黎明的曙光。所以想要事业有所成就，就要有所作为，就要学习屯卦充满信心，艰苦奋斗的精神。                          </string>
	</dict>
	<dict>
		<key>num</key>
		<string>87</string>
		<key>name</key>
		<string>蒙</string>
		<key>word</key>
		<string>蒙：亨。匪我求童蒙，童蒙求我；初筮告，再三渎，渎则不告。利贞。</string>
		<key>detail</key>
		<string>《蒙卦》：亨通。不是我去求蒙昧的人来接受教育，而是蒙昧的人请我传播知识给他。这一次向神请教，神灵给了他一些告示。如果一次又一次地卜问，以得到令自己满意的结果，将会亵渎神灵，神灵一定不会理睬他。但只要品行纯正，诚心诚意，就有利于去占卜。</string>
		<key>text</key>
		<string>【启示】这一卦告诉我们，对一个人而言，要想在社会上立足，想要有所作为，必须先接受教育，解除蒙昧的状态，想要发展，必须大力推行教育，并且要把教育看成双边活动。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>75</string>
		<key>name</key>
		<string>需</string>
		<key>word</key>
		<string>需：有孚，光享，贞吉。利涉大川。</string>
		<key>detail</key>
		<string>《需卦》：有诚心，能得到人们的信任，顺利排出万难，去占卜，能得到吉祥的预兆，有利于度过大江大河。</string>
		<key>text</key>
		<string>【启示】《《需卦》》中“需”字，意为停留等待。卦辞认为，初遇困难，要耐心等待有利时机，时机一旦成熟便积极行动，一定会有所成就的。也就是说，既要求其所”需“，又要“待”其适时。所以，人们一方面要谨慎，明确自己的奋斗目标，另一方面要时刻准备出击。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>57</string>
		<key>name</key>
		<string>讼</string>
		<key>word</key>
		<string>讼：有孚窒惕，中吉，终凶。利见大人，不涉猎大川。</string>
		<key>detail</key>
		<string>《《讼卦》》：有诚信得人要谨防道路被堵塞，途中是吉利的，最后又凶险。拜见为尊且德高的人是吉利的，贸然去渡大江大河是不吉利的。</string>
		<key>text</key>
		<string>【启示】《《讼卦》》告诉我们，一个外表刚强，内心纯正的人容易与人发生矛盾，一旦与人发生争论，这就会成为他成就大业的阻碍。这就暗示我们，如果不是原则问题应该退让，尽量与人和谐相处。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>17</string>
		<key>name</key>
		<string>师</string>
		<key>word</key>
		<string>师：贞，丈人吉，无咎。</string>
		<key>detail</key>
		<string>《师卦》：做将领的为人中正，是吉利的，没有什么灾难</string>
		<key>text</key>
		<string>【启示】《《师卦》》强调两项用兵原则：用兵必须要正，这是前提，要以正服众，成为仁义只是，才能万民归附。二是正确选择将领，这是出师胜负的关键。总而言之，作为统帅应坚守正道，顺应天道，爱护百姓，去打仗一定能取得胜利。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>71</string>
		<key>name</key>
		<string>比</string>
		<key>word</key>
		<string>比：吉。原筮，元永贞，无咎。不宁方来，后夫凶。</string>
		<key>detail</key>
		<string>《比卦》：开始占卜，得到吉祥的预兆。再一次卜筮占问，依然是吉祥的预兆，不会遭遇凶险。因为原先与之为敌的不安分的臣民也归顺了。那些迟迟不愿归顺的顽固分子，将会遭遇灾难。</string>
		<key>text</key>
		<string>【启示】《《比卦》》表明，作为君王，与澄明形成非常亲密的关系有力于整个国家的发展；作为臣民，下属，应顺应大局，加入和平统一已经成为上自统治者下至黎民百姓共同的愿望，应归顺坚守正道的君主。应以和为贵。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>65</string>
		<key>name</key>
		<string>小畜</string>
		<key>word</key>
		<string>小畜：亨。密云不雨，自我西郊。</string>
		<key>detail</key>
		<string>《小畜卦》：亨通顺利。天空布满了乌云，但云雨还未下来。黑云从西边的郊外压过来。</string>
		<key>text</key>
		<string>【启示】《《小畜卦》》以密云不雨为喻，揭示了事物发展过程中需要不断的积累，需要修身养性。不积跬步无以至千里，不积小流，无以成江海的道理。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>54</string>
		<key>name</key>
		<string>履</string>
		<key>word</key>
		<string>履：履虎尾，不咬人，亨。</string>
		<key>detail</key>
		<string>《履卦》：用脚踩了老虎的尾巴，老虎没有回头来咬你，顺畅。</string>
		<key>text</key>
		<string>【启示】《《履卦》》告诉我们，做任何事情必须遵循一定的规律，并要量力而行，不可贸然前进。如果遇到危险，只要坚持以柔克刚，以中正和悦的态度处理，也会避开这些风险。否则，如果不自量力，不讲究刚柔相济，将会面临危险的境况。此卦还告诉我们在创业初期阶段都会遇到困难，如果不去克服将永远不会到达成功的彼岸。所以要敢于冒险。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>15</string>
		<key>name</key>
		<string>泰</string>
		<key>word</key>
		<string>泰：小往大来，吉，亨。</string>
		<key>detail</key>
		<string>《泰卦》：阴去阳来，是大吉大利的。</string>
		<key>text</key>
		<string>【启示】万物的生长是自然的规律，上下相交乃是自然得以发展的条件。做人治学，若不遵循一定的规律，则容易误入歧途。我们应该明白不只自己在成长，别人也在学习，成长，如果能做到体物查己，敬上谦下，就能为人，治学皆有所成。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>51</string>
		<key>name</key>
		<string>否</string>
		<key>word</key>
		<string>否：否之匪人，不利君子贞。大往小来。</string>
		<key>detail</key>
		<string>《否卦》：小人从中作梗，上下难以沟通，不利于君子保持中正。这预示着事业将由兴盛转为衰落。</string>
		<key>text</key>
		<string>【启示】这一卦告诉我们，阳去阴来，天地无法相交，不利于万物生长，处于极不顺畅的阶段。这该怎么办呢？我们在否塞不通的时，应多方面地查找原因，找出问题的症结所在，然后对症下药。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>53</string>
		<key>name</key>
		<string>同人</string>
		<key>word</key>
		<string>同人：同人于野，亨。利涉大川，利君子贞。</string>
		<key>detail</key>
		<string>《同人卦》：做大事前，大家聚集在郊外统一思想，这是顺畅的。有利于渡过大江大河，有利于君子去占卜。</string>
		<key>text</key>
		<string>【启示】《《同人卦》》认为，人民的共同心愿是实现天下大同。如果你顺应了这一思想，就会赢得广大人民的信任，从而出现政通人和的大好局面。但注意这个大同不是狭隘的宗族团结，而是以天下为公，同心协力谋求幸福。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>35</string>
		<key>name</key>
		<string>大有</string>
		<key>word</key>
		<string>大有：元亨。</string>
		<key>detail</key>
		<string>《大有挂》：非常吉利。</string>
		<key>text</key>
		<string>【启示】《《大有卦》》表示光明普照万物，万物归顺，顺应天时，将大有所获。在天象上说晴天丽日，在人事上来说是蒸蒸日上，是阳气生发而阴气消散之象。具体到人，就是要内心刚健，而行为光明，自强不息。此处还象征君主的治国之道，即应善处下，招纳天下贤才才能政治昌明。简而言之，顺应了天道就会富有。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>18</string>
		<key>name</key>
		<string>谦</string>
		<key>word</key>
		<string>谦：亨。君子有终。</string>
		<key>detail</key>
		<string>《谦挂》：亨通。占卜得此卦，说明君子能有所作为。</string>
		<key>text</key>
		<string>【启示】《谦卦》卦辞中提到“谦，亨，君子有终”，表明“谦“道美德，每人都应该行为谦恭有礼。此卦告诉我们，君子应该培养谦虚的美德，才能获得亨通。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>21</string>
		<key>name</key>
		<string>豫</string>
		<key>word</key>
		<string>《豫》：利建候，行师。</string>
		<key>detail</key>
		<string>《豫卦》：对封建诸侯来说，出兵打仗是有利的。</string>
		<key>text</key>
		<string>【启示】这一卦告诉我们，天下老百姓都归顺了自己，此时，应顺应天时而行动。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>42</string>
		<key>name</key>
		<string>随</string>
		<key>word</key>
		<string>随：元亨，利贞，无咎。</string>
		<key>detail</key>
		<string>《随卦》：非常吉利，有利于去占卜，没有什么灾难。</string>
		<key>text</key>
		<string>【启示】《随卦》意在阐发”随从“之意，这也体现本卦从善的宗旨。卦辞中以元亨，利贞，极力赞美随从之道。此卦告诉我们，我们的随和是有原则的，要以中正为原则，要顺应人民的意愿。它主张人们顺时而动，抓住机遇，适时进退。它要求人们舍弃一己之私，择善而从，并时时以大局为重，而且无论为人还是处世都应不违正道，坚持从善而行。                                                            </string>
	</dict>
	<dict>
		<key>num</key>
		<string>86</string>
		<key>name</key>
		<string>蛊</string>
		<key>word</key>
		<string>蛊：元亨。利涉大川。先甲三日，后甲三日。</string>
		<key>detail</key>
		<string>《蛊卦》：十分吉利，有利于渡过大江大河。但必须在事物的转折点得前后起程。</string>
		<key>text</key>
		<string>【启示】这一卦告诉我们，衰败中蕴藏新生，但不是在任何条件下都能获得新生，得有特定的条件，这个条件需要我们去创建。所以，我们在这个转型时期，要顺应天时采取行动。这里的顺应天时一指事前防患与未然；二是指遇到麻烦时，应想办法解决麻烦。无论是事前的防范，还是事后的解决，都需要以天道为准则，纠正不合规范的行动。         </string>
	</dict>
	<dict>
		<key>num</key>
		<string>14</string>
		<key>name</key>
		<string>临</string>
		<key>word</key>
		<string>临：元亨，利贞。至于八月，有凶。</string>
		<key>detail</key>
		<string>《临卦》：非常有利，有利于去占卜。但是到了八月(阳衰阴盛)，将会遭遇凶险。</string>
		<key>text</key>
		<string>【启示】《临卦》卦辞先以”元亨，利贞“赞美了”监临”之道，接着又以“至八月有凶”来告诫人们警惕盛极必衰。因此“临人”者应预防“盈满而溢”的危险，从而可长久临人。此卦告诉我们，一方面要努力提高自身修养，做到以身作则，使民众从内心服从自己的领导。另一方面要对人民实行德育教育，提高整个名族的素养。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>61</string>
		<key>name</key>
		<string>观</string>
		<key>word</key>
		<string>观：舆而不荐，有孚顒若。</string>
		<key>detail</key>
		<string>《观卦》：祭祀前先把手洗净，在洗完手还未把祭品奉上时，人们怀着诚信之心仰望着他。</string>
		<key>text</key>
		<string>【启示】《观卦》告诉我们，作为领导，不但要注意自己的德行，而且还要注意体察民情。且《大象传》所阐发的“观民设教”之义，已经把上观下和下观上融合为一体，表明居上者必须要体察明清，才能正确地推行教化，让天下人民“仰观”。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>32</string>
		<key>name</key>
		<string>噬嗑</string>
		<key>word</key>
		<string>噬嗑：亨。利用狱。</string>
		<key>detail</key>
		<string>《噬嗑卦》：尽力排除阻碍达到亨通，有利于去打官司。</string>
		<key>text</key>
		<string>【启示】因为刑法的最终目的是帮助人们改正错误，所以刑法不能太过于严厉，执法的人要公正严明。但需要注意的是，噬嗑卦还包含另一层意思：此卦上明下动，明是指要弄清事实真相，避免冤枉好人，但也不能放过一个坏人；动是指遇到困难的时候必须主动采取措施，以达到惩治坏人的目的。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>83</string>
		<key>name</key>
		<string>贲</string>
		<key>word</key>
		<string>贲：亨。小利有攸往。</string>
		<key>detail</key>
		<string>《贲卦》：亨通。有所行动将得小利。</string>
		<key>text</key>
		<string>【启动】作为一个领导，注重小的理解，固然是能得小利，但不能过于强调表面的东西，因为只有从里到外地修饰自己，多为百姓办实事，老百姓或者下属才拥护你。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>81</string>
		<key>name</key>
		<string>剥</string>
		<key>word</key>
		<string>剥：不利有攸往。</string>
		<key>detail</key>
		<string>《剥卦》：不利于有所行动</string>
		<key>text</key>
		<string>【启示】《剥卦》中阴生于下，逐渐滋长，而阳气消退，形成五阴剥一阳的状况，者象征着邪气上升，正气消亡，阴气渐盛，阳气将尽。此时天时，人事，力量歌方面均对君子极为不利，因此不宜作正面抗争，首时静待，保存自己，勿有所往，等待时局变化。所以此卦探讨的是处衰败之道，退守待变的处世哲学。同时这一卦也告诉我们，领导者要从根本上维护人民的利益，应抑制小人的势力，以防其残害忠良，扰乱政治。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>12</string>
		<key>name</key>
		<string>复</string>
		<key>word</key>
		<string>复：亨。出入无疾，朋来无咎。反复其道，七日来复。利有攸往。</string>
		<key>detail</key>
		<string>《复卦》：亨通。无论是外出还是居家都不会得小病。朋友来了便可免灾。返回原来的路上，经过七天就可回归。这是天的运行规则，有所前往是有利的。</string>
		<key>text</key>
		<string>【启示】这一卦暗示我们，犯错误时难免的，如果迷途知返，则可以免灾。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>52</string>
		<key>name</key>
		<string>无妄</string>
		<key>word</key>
		<string>无妄：元亨，利贞。其匪正有眚，不利有攸往</string>
		<key>detail</key>
		<string>《无妄卦》：十分吉利，有利于去占卜。若不坚守中正，则有灾祸，不利于有所行动。</string>
		<key>text</key>
		<string>【启示】根据卦象来看，《无妄卦》中天高在上，物动在下，事务的任何变化，上面都能看的很清楚，因此在天下面的行动，不能任意妄来，要走正道，这样才不会招来灾祸。卦辞中提到的“其匪正有着”，就是说，如果行为不正，就会有灾祸。所以这一卦告诉我们，只要坚守中正，顺应天道行事，就不会有灾祸。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>85</string>
		<key>name</key>
		<string>大畜</string>
		<key>word</key>
		<string>大畜：利贞。不家食，吉。利涉大川。</string>
		<key>detail</key>
		<string>《大畜卦》：有利于去占卜。不在家里吃饭，将得到吉利的预兆。去渡大江大河将是吉利的。</string>
		<key>text</key>
		<string>【启示】《大畜卦》告诉我们，要干大事，就要做到：一要努力学习，增强自己的本质，培养自己美好的品德；二要培训和招聘贤人，并使用好贤人；三要等待时机。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>82</string>
		<key>name</key>
		<string>颐</string>
		<key>word</key>
		<string>颐：贞吉。观颐，自求口实。</string>
		<key>detail</key>
		<string>《颐卦》：去占卜得到吉利的预兆。观察别人的养生之道，是打算自己寻找口中食。</string>
		<key>text</key>
		<string>【启示】《颐卦》要顺应颐养的正道。此卦的意向包括两点：一是说天地养育了万物，而动静结合是养育万物的关键，我们应根据颐养对象采取颐养方式；而是做事就想咀嚼东西，上不动而下动，即要讲究动静适宜，而方位有别。所以我们也可从中得到启示，在现实生活中颐养身体要注意防止言多有失；在道德修养时则要善于取舍，尽量吸收有用的知识，而且还要防止贪多而错失精华。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>46</string>
		<key>name</key>
		<string>大过</string>
		<key>word</key>
		<string>大过：栋</string>
		<key>detail</key>
		<string>《大过卦》：房屋的栋梁受重压而弯曲。有利于有所行动，顺畅。</string>
		<key>text</key>
		<string>【启示】在人类社会及自然界中，事务的发展有时会导致阳刚国盛，阴柔大弱，获主体过于强盛，要适可而止。此外，通过《大过卦》我们也可明白，在动荡的年代，不要盲目采取过激获鲁莽的行动，但只要遵循正道，就有利于有所行动。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>77</string>
		<key>name</key>
		<string>坎</string>
		<key>word</key>
		<string>习坎：有孚，维心亨。行有尚。</string>
		<key>detail</key>
		<string>《坎卦》：有了诚信，就能赢得人心，顺畅。出行肯定能获得帮助。</string>
		<key>text</key>
		<string>【启示】《坎卦》告诉我们，长期处在不顺利，不得志的情况下，不但需要有坚定的信念，勇往直前，而且要随机应变，谨慎行事。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>33</string>
		<key>name</key>
		<string>离</string>
		<key>word</key>
		<string>离：利贞，亨。畜牝牛，吉。</string>
		<key>detail</key>
		<string>《离卦》：有利于去占卜，顺畅。像母牛一样顺从，十分吉利。</string>
		<key>text</key>
		<string>【启示】《离卦》以火，日为喻象，说明事物应依附一定的环境或借助外力而使自己脱离危险。就像自然干物象，太阳依附天空照耀大地，火焰依附燃料发出光热。但卦辞中又强调“利贞”，“畜牝牛”，表明“依附”之时还应遵守正道，阴柔顺从才可获得亨通。所以这一卦所告诉我盟的道理实在自己乱了方寸时，可以记住外力脱离危险，但要遵循正道。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>48</string>
		<key>name</key>
		<string>咸</string>
		<key>word</key>
		<string>咸：亨，利贞。去女吉。</string>
		<key>detail</key>
		<string>《咸卦》：顺畅，有利于去占卜。迎娶女子，吉利。</string>
		<key>text</key>
		<string>【启示】《咸卦》从狭义看是阐述男女相互感应的道理，但从广义上看又是在阐述事物之间的感应之道。所以这一卦一方面告诉我们，男女之间的情爱是相互的，不可强求。另一方面又告诉我们，事务间的感应式相互的，绝不可免。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>26</string>
		<key>name</key>
		<string>恒</string>
		<key>word</key>
		<string>恒：亨，无咎，利贞，利有攸往。</string>
		<key>detail</key>
		<string>《恒卦》：顺畅，将不会招致灾祸，有利于去占卜，有所行动有利。</string>
		<key>text</key>
		<string>【启示】《恒卦》教导人们处世要有恒心。但这里的“恒”并不是一成不变的意思，而是恒中应有变，变中要有恒，是恒是变，应根据实际情况而定。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>58</string>
		<key>name</key>
		<string>遁</string>
		<key>word</key>
		<string>遁：亨。小利贞。</string>
		<key>detail</key>
		<string>《遁卦》：顺畅。去占卜有小利。</string>
		<key>text</key>
		<string>【启示】此卦主要阐释隐退，退避的道理。极端的恒久，必然又会在引起动荡，此时就会出现小人势长，君子德消的局面。此时选择退避，并非消极的逃避，而是保存实力，等待积极行动的最佳时机。若在此情况下，一味地进行对抗，只会造成上黑，削弱自己的力量。因而，坚定信念，保持正直刚毅的品德，咀嚼同流合污，及时隐退，以待时机，东山再起。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>25</string>
		<key>name</key>
		<string>大壮</string>
		<key>word</key>
		<string>大壮：利贞。</string>
		<key>detail</key>
		<string>《大壮卦》：有利于去占卜。</string>
		<key>text</key>
		<string>【启示】《大壮卦》主要在于阐释壮大是的行事原则。经历了衰退，避让会逐渐壮大起来。此时的局面已经变成阴消阳盛。人一旦得到就容易自负，容易鲁莽行事。所以，卦辞中强强调“利贞”，虽然强大，但仍要坚持正道。而且壮大之后还应保存中庸，要适当节制，行为不能过分。此外，壮大还应该量力而为，不可王东，不可恃强凌弱。若时机又转入衰退是，更应当及时觉悟，应对艰难时刻。总而言之，一个人即使十分强大，也不嫩鲁蛮行事的道理。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>31</string>
		<key>name</key>
		<string>晋</string>
		<key>word</key>
		<string>晋：康侯用锡马番庶，昼日三接。</string>
		<key>detail</key>
		<string>《晋卦》：康侯蒙受成王的赏赐，得到众多良马，并在一天之内多次得到成王的接见。</string>
		<key>text</key>
		<string>【启示】《晋卦》主要阐释了进取的原则。壮大之后具有了进取的条件，就像太阳慢慢升起，最终普照大地。但在进取的过程中，一定要冬季纯正，这样即使结果失败，也没有什么好愧疚的。而且不可过度瞻前顾后，只要坚守中正的原则，就能获得进取。所以此卦主要说明了，想要使事业发展壮大，必须要坚守正道的道理。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>13</string>
		<key>name</key>
		<string>明夷</string>
		<key>word</key>
		<string>明夷：利艰贞。</string>
		<key>detail</key>
		<string>《明夷卦》：有利于去占卜艰难之事。</string>
		<key>text</key>
		<string>【启示】此卦阐释了在政治昏暗，光明泯灭之事，君子的行为准则。事务的盛衰，社会的发展，自由一定的发展规律。君子处于光明衰落的时期，必然会存在危险。小人当道，政治昏暗，争议的力量难以抗拒邪恶的力量，因此之事君子应内明外柔，韬光养晦，才能承受大难。为了保存实力，我盟不仅应坚守“自晦其明”，守正不移的品质，还要谨慎小心，保全自己。也就是说，一个人陷于困境时，既要坚守自己的节操，又要顺应时势保护好自己。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>63</string>
		<key>name</key>
		<string>家人</string>
		<key>word</key>
		<string>家人：利女贞。</string>
		<key>detail</key>
		<string>《家人卦》：有利妇女去卜卦。</string>
		<key>text</key>
		<string>【启示】《家人卦》告诉我们，一家之主，负有领导职责，要防患于未然，因此治家要刚柔刚柔相济，既要有诚信，又要有威严。同事家庭的成员要各安其位，各司其职，分工协作。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>34</string>
		<key>name</key>
		<string>睽</string>
		<key>word</key>
		<string>睽：小事吉。</string>
		<key>detail</key>
		<string>《睽卦》：去占卜小事是吉利的。</string>
		<key>text</key>
		<string>【启示】《睽卦》讲家庭及社会成员的背离，暗示我们，矛盾的双方是对立统一的。即事物是矛盾的，相互对立的，但一方的存在以另一方的存在为条件，并且在一定的条件下相互转化。根据矛盾的特性，我们一方面要同心同德消除异己力量，一方面要求求同存异，要创造条件是矛盾向好的方向转化，推动事物发展。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>78</string>
		<key>name</key>
		<string>骞</string>
		<key>word</key>
		<string>骞：利西南，不利东北。利见大人，贞吉。</string>
		<key>detail</key>
		<string>《骞卦》：有利于向西南方向走，不利于往东北方向走。有利于拜见王公贵族，去占卜得到吉祥的预兆。</string>
		<key>text</key>
		<string>【启示】《骞卦》告诉人们该如何看待困难 ，走出困境。一要知难而退，坐待时机。而要加强自我的道德修养，并聚集起各方力量，确定核心领导。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>27</string>
		<key>name</key>
		<string>解</string>
		<key>word</key>
		<string>解：利西南，无所往，其来复吉。有攸往，夙吉。</string>
		<key>detail</key>
		<string>《解卦》：有利于向西南方向行进，但如果大难已解，就要返回去正纲纪，名法度，光复大业则能吉祥如意。应该有所行动，应为早点行动就能获得吉祥。</string>
		<key>text</key>
		<string>【启示】《解卦》告诉我们，要解除大难，就要诚信待人以获得群众的支持，就要坚守中正。尤其是，一个人不要在大难解除后就认为万事大吉，因为新的任务又出现在他的面前。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>84</string>
		<key>name</key>
		<string>损</string>
		<key>word</key>
		<string>损：有孚，元吉，无咎，可贞。利有攸往。曷之用?二簋可用享。</string>
		<key>detail</key>
		<string>《损卦》：双方都有所收获，大吉大利，没有什么灾祸，是称心的占问。有利于有所行动。二簋食物可用来干什么呢？可用来祭祀。</string>
		<key>text</key>
		<string>【启示】《损卦》告诉人们，损不是单方面的损，而是利人，利己的损。所以应损则损，绝不吝惜。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>62</string>
		<key>name</key>
		<string>益</string>
		<key>word</key>
		<string>益：利有攸往，利涉大川。</string>
		<key>detail</key>
		<string>《益卦》：有利于有所行动，有利于渡过大江大河。</string>
		<key>text</key>
		<string>【启示】《益卦》之意在于说明要“减损于上，增益于下”的道理。卦辞中强调“利有攸往，利涉大川”，即是称赞“益下”的好处。此卦强调要施恩惠给人民，因为这对双方都有利。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>45</string>
		<key>name</key>
		<string>夬</string>
		<key>word</key>
		<string>夬：扬于王庭，孚号有厉。告自邑，不利即戎，利有攸往。</string>
		<key>detail</key>
		<string>《夬卦》：不仅在王庭里公布小人的所作所为，而且号令天下的人都要认清这种人，这是危险的。文告来自于邑中，不利于立即动武，但有利于有所行动。</string>
		<key>text</key>
		<string>【启示】这一卦告诉我们，要号召所有的人与小人决断，并且不能贸然采取强硬的措施。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>56</string>
		<key>name</key>
		<string>姤</string>
		<key>word</key>
		<string>姤：女壮，勿用取女。</string>
		<key>detail</key>
		<string>《姤卦》：女子过于强盛，不要娶该女子为妻。</string>
		<key>text</key>
		<string>【启示】《姤卦》阐释了事物“相遇”的道理，但卦辞却从相反的方面来说明。先用“女仕”来比喻卦中一阴五阳的关系是“一女遇五男”，因此说此女过于强盛，告诫他人不要娶这样的女子为妻。此卦暗示我们：天地，男女，君臣，相识相知尽在一个缘字，是否能融汇相处，相得益彰，受时间，场合等多种条件限制，强求不得。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>41</string>
		<key>name</key>
		<string>萃</string>
		<key>word</key>
		<string>萃：亨，王假有庙。利见大人，亨，利贞。用大牲吉。利有攸往。</string>
		<key>detail</key>
		<string>《萃卦》：顺畅。君王到祖宗庙堂里祭祀。有利于会见地位高的贤明的人，顺畅，有利于去占卜。使用大的牲畜作祭祀品，能够获得吉祥。有利于有所行动。</string>
		<key>text</key>
		<string>【启示】这一卦告诉我们，能够谦恭待人，必能聚集大众。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>16</string>
		<key>name</key>
		<string>升</string>
		<key>word</key>
		<string>升。元亨。用见大人，勿恤，南征吉。</string>
		<key>detail</key>
		<string>《升卦》：十分吉利，有利于会见地位高的人，不用担心。向南出征吉祥。</string>
		<key>text</key>
		<string>【启示】《升卦》描述了事物由小到大，由低到高的成长过程。它强调，升是慢慢地升，而不是一步登天地不切实际地升。所以，我们要从小事做起，积少成多，从而成就自己的大业。注意在行事是，要以诚信为基础。此外，上升应以前人的经验作为借鉴，才会能避免走弯路。而且上升为积极的有所作为，应当勇往直前，但方向和方法必须正确，要任用贤能，像大家希望的方向前进，必然会得到他人的支持。同事，也应该有目标，不能盲目冒进，以免误入歧途。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>47</string>
		<key>name</key>
		<string>困</string>
		<key>word</key>
		<string>困：亨，贞，大人吉，无咎。有言不信。</string>
		<key>detail</key>
		<string>《困卦》：亨通。卜问为大众所认可的人的事吉祥，没有什么灾祸，但处在困境的人说话难以让人相信。</string>
		<key>text</key>
		<string>【启示】《坤卦》大一在于揭示处于“穷困”之时的道理。卦辞中极力说明只有君子才能虽然深陷困境，却能其道亨通，由此来称赞能坚守整蛊的君子可获吉祥。同事卦辞”有言不信“，也表明此时君子应洁身自好，修美己德。因此此卦告诉我们，不要过于柔弱，而要采取有效的行动。另外，它暗示我们，及时居于高位，如不谦虚，也会有陷入困境的可能性。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>76</string>
		<key>name</key>
		<string>井</string>
		<key>word</key>
		<string>井:改邑不改井，无丧无得。往来井井。汔至亦未繘井，羸其瓶，凶。</string>
		<key>detail</key>
		<string>《井卦》：城邑村庄可以改移而水井不可迁徙，没有损失什么，也没有得到什么。周围的人来来往往到井里来汲水，水井干涸淤塞去没人淘洗，还把汲水瓶打坏了，这是凶兆。</string>
		<key>text</key>
		<string>【启示】《井卦》的卦辞讲了净水于人民的生活有紧密联系，以井为喻，告诉我们，为了最大限度地发挥自身及物的作用，一方面要修身养性，一方面要对物进行及时清理。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>43</string>
		<key>name</key>
		<string>革</string>
		<key>word</key>
		<string>革：己日乃孚。元亨利贞。悔亡。</string>
		<key>detail</key>
		<string>《革卦》：在亟须转变的“己日”推行变革，并且有诚信，十分顺畅，有利于去占卜。悔恨终将消失。</string>
		<key>text</key>
		<string>【启示】《革卦》告诉我们，变革是有条件的，所以我们变革也要讲方法：一要顺应事物发展规律，选择适当时机，势在必行是才能大胆变革；而是要顺应民意，是人心悦诚服；三要变革者动机纯正和使用正当手段，不急功近利，并且考虑问题要全面细致。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>36</string>
		<key>name</key>
		<string>鼎</string>
		<key>word</key>
		<string>鼎：元吉，亨。</string>
		<key>detail</key>
		<string>《鼎卦》：大吉大利，顺畅。</string>
		<key>text</key>
		<string>【启示】《鼎卦》解烹煮食物变生为熟为喻，阐释事物去旧布新之理，其中有更侧重于行使权力，治理天下，告诉我们行事要敢于破旧立新。从另一方面还有“养贤”之意。由于变革必须依靠人才，只能任用贤能，才能实现革故鼎新的目的。而且选拔人才还要知人善用，排除小人，明智的领导，贤能的下属，必然能够做到无往不利。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>22</string>
		<key>name</key>
		<string>震</string>
		<key>word</key>
		<string>震：亨。震来虩虩，笑言哑哑。震惊百里，不丧匕鬯。</string>
		<key>detail</key>
		<string>《震卦》：顺畅，雷鸣地颤，有的人吓得浑身哆嗦，过了一会大家谈笑自如。巨雷震响，是方圆百里的人震惊，但祭祀活动还是照常。</string>
		<key>text</key>
		<string>【启示】《震卦》以雷动为喻象，意在阐明雷动之声使万物警惧，从而使万物亨通的道理。此卦从两方面说明了“雷动”的结果：一方面雷鸣奋起，万物畏惧，因此小心谨慎，获福；另一方面君主教令严明，因而百姓警惧，社会安定。但震动的影响也不是只有益而没有害的，对我们来说，震动的到来是福是祸还是个未知数，因为一方面它能使人恐惧，从而谨慎行事，避开灾祸，另一方面诗人惶惶不安，因忧虑而不能采取有效的措施防范灾祸的发生。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>88</string>
		<key>name</key>
		<string>艮</string>
		<key>word</key>
		<string>艮：艮其背，不获其身。行其庭，不见其人。无咎。</string>
		<key>detail</key>
		<string>《艮卦》：用自己的背对着事物，就不能看见事物，自然静止。在别人的庭院中行走，在这庭院里没见到人。没有灾祸。</string>
		<key>text</key>
		<string>【启示】《艮卦》告诉我们，不要受外界的干扰，该静止的时候就静止，该行动的时候就行动。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>68</string>
		<key>name</key>
		<string>渐</string>
		<key>word</key>
		<string>渐：女归吉。利贞。</string>
		<key>detail</key>
		<string>《渐卦》：女子出嫁是吉利的是。有利于去占卜。</string>
		<key>text</key>
		<string>【启示】《渐卦》义在阐释事物发展过程中遵循渐进的道理。前景是事物发展的去向，前进要刚毅，但也要遵循中庸原则。在这个过程中不可以冒进，应当扎实稳打，依据状况，脚踏实地，一步步地向前发展。动静顺时，且符合自然规律，行动才不会穷困。如果刚强过度，急躁冒进，就有陷入困境的危险。同时，在渐进的过程中，还要守正，这样才能抵御凶险，获得胜利。所以此卦告诉我们，不急要遵循渐进，还必须要坚守正道，做到真正的循序渐进</string>
	</dict>
	<dict>
		<key>num</key>
		<string>24</string>
		<key>name</key>
		<string>归妹</string>
		<key>word</key>
		<string>归妹：征凶。无攸利。</string>
		<key>detail</key>
		<string>《归妹卦》：出征凶险，没有什么利益。</string>
		<key>text</key>
		<string>【启示】《归妹卦》卦辞谓“征凶，无攸利“，是对”归妹“的告诫，即强调女子出嫁从须严守“正”道，以“柔顺”为本，成为丈夫的“贤内助”，如果做不到这些，九江招来凶险。此卦以男女之间的爱情为比喻，告诉我们在不当的时机前进或冬季不良而前进就会有凶险。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>23</string>
		<key>name</key>
		<string>丰</string>
		<key>word</key>
		<string>丰：亨。王假之，勿忧，宜日中。</string>
		<key>detail</key>
		<string>《丰卦》：顺畅，君王亲临宗庙。不用忧惧，最佳时机在太阳位居中天时。</string>
		<key>text</key>
		<string>【启示】《丰卦》说明盈虚消长的客观规律，提示人们，要求得丰盛，应依理而行，而且强调在兴盛时更要谨慎行事，更要坚守正道。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>38</string>
		<key>name</key>
		<string>旅</string>
		<key>word</key>
		<string>旅：小亨。旅贞言。</string>
		<key>detail</key>
		<string>《旅卦》：有晓得亨通。卜问旅行，这是吉利的。</string>
		<key>text</key>
		<string>【启示】《旅卦》意在阐明“行旅”的道理。在古人看来行旅生活是孤独而困苦的，也正因为此《旅卦》由“旅”而难以安定，告诫人们要善处行旅之道。此卦中提到“小亨”，“贞吉”，说明“行旅”必须守正，而且有要柔顺持中。事情往往盛大到极点，又会陷入不安定的状态，在这种情况下，为解除困难，必须要守正。同事，还要以柔顺持中的态度，获得他人的支持与帮助。所以此卦告诉我们这样一个道理：旅居在外，处在动荡的生活中，更要坚守中正，这样才能转危为安。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>66</string>
		<key>name</key>
		<string>巽</string>
		<key>word</key>
		<string>巽：小亨。利有攸往，利见大人。</string>
		<key>detail</key>
		<string>《巽卦》：小有亨通，有利于有所行动，利于会见大人。</string>
		<key>text</key>
		<string>【启示】《巽卦》阐释了“顺从”的道理。比如，对于阴阳来说，即阴顺阳；对于君臣来说，即臣顺军。卦辞一方面反映了此时柔顺，谦恭的人利于前行，可获亨通；另一方面又指出上下顺从的目的是有利于“大人”施行命令。在不安定的环境中，必须谦逊，才能得到他人的帮助，才能转危为安。谦逊是顺从，但也不能盲从，必须择善而从。顺从并非懦弱胆小，更非自卑畏惧，而是以刚健之德自勉，不断进取。此卦告诉我们，一个人做事要谦逊，顺从的道理。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>44</string>
		<key>name</key>
		<string>兑</string>
		<key>word</key>
		<string>兑：亨。利贞。</string>
		<key>detail</key>
		<string>《兑卦》：亨通。有利于去占卜。</string>
		<key>text</key>
		<string>【启示】《兑卦》阐明了“欣悦”之道。此卦中所说的“欣悦”侧重强调以“内刚外柔”为悦，即柔顺以刚健为本，欣悦而坚守正固。此卦中称“欣悦”可使事物亨通，但其有必须守持正固，即是揭明了本卦的主旨。使他人喜悦，自己也会喜悦，这样是可以促使人际关系和谐，这是顺天应人的做法。但与人和悦，首先应当动机纯正，明辨是非，光明正大，而不能阿谀奉承；其次应该内刚外柔，坚持原则。简言之，做事要和悦待人，还要恰当地取悦于人。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>67</string>
		<key>name</key>
		<string>涣</string>
		<key>word</key>
		<string>涣：亨，王假有庙。利涉大川，利贞。</string>
		<key>detail</key>
		<string>《涣卦》：亨通，君王亲临祠庙祭祀神灵以祈求保佑。有利于渡江过河，有利于去占卜。</string>
		<key>text</key>
		<string>【启示】《涣卦》所说的“涣散”并非只是指“散乱”，而是从对立的角度揭示“聚”与“散”之间相互依存的关系。卦辞中以君王祭祀，来比喻聚合神灵庇佑，以涉越大河比喻聚集人心以度过艰难。这说明事物在形散的情况下，只要神聚任然能获得亨通。此外，卦辞中还强调，此时做事应坚持守正。在丰盛安逸的情况下，人心容易涣散，以致重私利而忘公益，社会风气逐渐就会败坏。所以在这样的状况下，必须采取有力的对策，及时挽救。首先要凝聚人心，以求安定；然后逐渐消除私心，抑制私利，革除弊端，造福公众。此卦意在告诉我们，处于涣散之时，一定要凝聚人心，一球济难。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>74</string>
		<key>name</key>
		<string>节</string>
		<key>word</key>
		<string>节：亨，苦节不可，贞。</string>
		<key>detail</key>
		<string>《节卦》：亨通。节制得太过分，不可以守持正固。</string>
		<key>text</key>
		<string>【启示】《节卦》告诉我们，适当节制自己的行为，就会通达顺利。但过分的节制会适得其反。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>64</string>
		<key>name</key>
		<string>中孚</string>
		<key>word</key>
		<string>中孚：豚鱼吉。利涉大川，利贞。</string>
		<key>detail</key>
		<string>《中孚卦》：用诚信能感化猪和鱼，是吉祥的。有利于渡过大江，有利于去占卜。</string>
		<key>text</key>
		<string>【启示】《中孚卦》告诉我们，诚信能感动一切。只要有了它，什么样的困难都能克服。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>28</string>
		<key>name</key>
		<string>小过</string>
		<key>word</key>
		<string>小过：亨，利贞。可小事，不可大事。飞鸟遗之音。不宜上，宜下，大吉。</string>
		<key>detail</key>
		<string>《小过卦》：亨通，有利于去占卜。但只适于占卜小事，不适用于卜问大事。飞鸟留下悲鸣之音，告诫人们：不应再向上飞，而应该向下飞，这么做就会大吉大利。</string>
		<key>text</key>
		<string>【启示】《小过卦》告诉我们，处在晓得动荡中，不能有过分大的行动。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>73</string>
		<key>name</key>
		<string>既济</string>
		<key>word</key>
		<string>既济：亨小，利贞。初吉终乱。</string>
		<key>detail</key>
		<string>《既济卦》：亨通，稍稍利于卜问。起初吉祥，最终会发生危乱。</string>
		<key>text</key>
		<string>【启示】有卦形来看，《既济卦》阳爻都在阳位，阴爻都在阴位，全都是正位，就像事情已经完成，物无大小，具得亨通。但是，也正因如此，更应该谨慎小心，避免业绩毁于一旦。因为凡是情成功或，人们往往会松懈下来，这样就容易再次出现混乱，因此必须谨小慎微，坚守正道，才能“守成”。所以，此卦意在告诫人们，在事情成功之后，为防止最终发生危乱，必须懂得“守成艰难”，要谨慎行事。</string>
	</dict>
	<dict>
		<key>num</key>
		<string>37</string>
		<key>name</key>
		<string>未济</string>
		<key>word</key>
		<string>未济：亨。小狐汔济，濡其尾，无攸利。</string>
		<key>detail</key>
		<string>《未济卦》：亨通。小狐狸眼看就渡过河了，去沾湿了尾巴。没有什么利益。</string>
		<key>text</key>
		<string>【启示】《未济卦》所有的爻都居位不正，这象征着事情尚未完成。然而，正因为阴阳爻都不在合宜的位置，才象征着极有可能发生变化，从而使不利变成有利。所以，虽然事情未成，但只要审慎进取，努力促成其成，就能将“未济”转变成“可济”。卦辞中一方面指出努力求济可至亨通，另一方面又以“小狐”渡河尾巴被谁沾湿，告诫人们若做不到慎始慎终，将终难成济。所以，在事业还未成功只是，不可冒进，而且一定要慎始慎终。</string>
	</dict>
</array>
</plist>
